*{
    margin: flex;
    padding: 0px;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}
#hero header{
    height: 15vh;
    margin-left: 130px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    -webkit-text-fill-color: rgb(41, 151, 41);
    font-size: x-large;
}
#hero header button{
    color: chartreuse;
}