*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Glovo","Arial","Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
    
}

#hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 50px;
}

#hero header {
    z-index: 1;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;  
}

#hero header h1{
    -webkit-text-fill-color: rgb(6, 150, 93);
    font-size: xx-large;
    position: absolute;
        left: 150px; 
        top: 85px;
        transform: translateY(-50%);
}

#hero header div button{
    padding: 0.7rem 2rem;
    border-radius: 2rem;
    color: rgb(236, 236, 236);
    background-color: rgb(6, 150, 93); 
    display: flex;
    position: absolute;
        right: 150px; 
        top: 85px;
        transform: translateY(-50%);
    font-weight: 900;
    border: 0;  
}

#hero header div button:hover{
    cursor: pointer;
    background-color: rgb(5, 124, 77) ;
}

#hero main {
   margin-top: 10vh;
    justify-content: center;
    object-fit: scale-down;
    position: absolute;
    
  
}

#hero main div h1{
    
    position: relative;
    font-size: 40px;
    font-size: 2vw;
    font-weight: bold;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.nav{

display: block;
margin-left: 250px;
margin-right: 250px;
align-items: center;
justify-content: center;

}

.location{
    display:block;
    position: absolute;   
    overflow: hidden;
    justify-self: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 45px;
    width: 500px;
    
}

#hero input[type="text"], textarea{
    border: none;
    outline: none;
}

.custom-shape-divider-top-1699186602 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1699186602 svg {
    position: relative;
    display: block;
    width: calc(280% + 1.3px);
    height: 1000px;
}

.custom-shape-divider-top-1699186602 .shape-fill {
    fill: rgb(256, 193, 49);
}

.buttonBar{
    margin-left: 150px;
    position: absolute;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 20px;
    height: 100px;   
}



.grid-container {
    display: grid;
    grid-template-columns: 16rem 16rem 16rem 16rem;
    align-items: center;
    justify-content: 20em;
    column-gap: 1em;
    row-gap: 2em;
}

.grid-item1 {
    flex-direction:column-reverse;
    justify-self:first baseline;
   
    margin-top: 300px;
   
    z-index: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    align-items: center;
    height: 10vh;
    font-weight: 600;
    font-size: 2rem;
  }

    .grid-item img {
        display: flex;
        height: 100px;
        width: 250px;
        object-fit: cover;
        border-radius: 1rem;
    }

    .grid-item img:hover{
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        -o-transition: 0.2s ease-out;
        -ms-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
         -webkit-transform:scale(1.1); 
        transform:scale(1.1);

    }

#food {
    background-image: url(/assets/images/food.png);
    background-size: 100px 130px;
    height: 100px;  
    width: 100px;
    border-radius: 5rem;
}
  #food:hover{
    transform: scale(1.1);

        -moz-transition: 0.2s ease-out;
        -o-transition: 0.2s ease-out;
        -ms-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
         -webkit-transform:scale(1.1); 
        transform:scale(1.1);

  }

#customD{
    background-image: url(/assets/images/customDeliveries.png);
    background-size: 100px 130px;
    height: 100px;  
    width: 100px;
    border-radius: 5rem;
}
  #customD:hover{
    transform: scale(1.1);
   
        -moz-transition: 0.2s ease-out;
        -o-transition: 0.2s ease-out;
        -ms-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
         -webkit-transform:scale(1.1); 
        transform:scale(1.1);

  }

#shopsNGifts {
    background-image: url(/assets/images/shopsandgifts.png);
    background-size: 100px 130px;
    height: 100px;  
    width: 100px;
    border-radius: 5rem;
}
  #shopsNGifts:hover{
    transform: scale(1.1);
  
        -moz-transition: 0.2s ease-out;
        -o-transition: 0.2s ease-out;
        -ms-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
         -webkit-transform:scale(1.1); 
        transform:scale(1.1);

  }

#supermarket {
    background-image: url(/assets/images/supermarket.png);
    background-size: 100px 130px;
    height: 100px;  
    width: 100px;
    border-radius: 5rem;
}
  #supermarket:hover{
    transform: scale(1.1);
        -moz-transition: 0.2s ease-out;
        -o-transition: 0.2s ease-out;
        -ms-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
         -webkit-transform:scale(1.1); 
        transform:scale(1.1);

  }

#snackNSweets {
    background-image: url(/assets/images/sweetsNsnacks.png);
    background-size: 100px 130px;
    height: 100px;  
    width: 100px;
    border-radius: 5rem;
}
  #snackNSweets:hover{
    transform: scale(1.1);

        -moz-transition: 0.2s ease-out;
        -o-transition: 0.2s ease-out;
        -ms-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
         -webkit-transform:scale(1.1); 
        transform:scale(1.1);

  }

#kfc {
    background-image: url(/assets/images/kfc.png);
    background-size: 100px 130px;
    height: 100px;  
    width: 100px;
    border-radius: 5rem;   
}
  #kfc:hover{
    transform: scale(1.1);
  }

  #sarajevo {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 50px;
    
  }

  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(155% + 1.3px);
    height: 260px;
}

.wave .shape-fill {
    fill: #E9F8F5;
}

  .grid-container2 {
    display: grid;
    grid-template-columns: 16rem 16rem 16rem 16rem;
    align-items: center;
    justify-content: 20rem;
    column-gap: 1rem;
    row-gap: 2rem;
}

.grid-item2 {
    flex-direction:column-reverse;
    justify-self:first baseline;
    
    z-index: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    align-items: center;
    height: vh;
    font-weight: 600;
    font-size: 2rem;
  }

    .grid-item-img img {
        display: flex;
        height: 100px;
        width: 250px;
        object-fit: cover;
        border-radius: 1rem;
    }

    .grid-item-img img:hover{
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        -o-transition: 0.2s ease-out;
        -ms-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
         -webkit-transform:scale(1.1); 
        transform:scale(1.1);

    }

.image {
    position: absolute;
    justify-self: center;
    margin-top: 500px;
}

#sarajevo div ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    gap: 120px;
    justify-content: center;
    margin-left: 400px;
}

.image h1{
    margin-top: 30px;
    font-weight: 750;
    font-size: 35px;
}

.image img{
    margin-left: 130px;
}

.setButtons button {
    margin-top: 300px;
    width: 7em ;
    height: 2.5em;
    border-radius: 2rem;
    background-color: rgb(255, 242, 209); 
    display: flex;
    position: absolute;
    border: 0;  
    font-size: 16px;
    line-height: inherit;
    box-sizing: border-box;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    
}

.setButtons button:hover{
    background-color: rgb(256, 193, 49);
    cursor: pointer;

}

.together {
    position: absolute;
    justify-self: center;
    margin-top: 1270px;
}

.together h1{
    margin-top: 30px;
    font-weight: 750;
    font-size: 35px;
}

.together img{
    margin-left: 70px; 
}

#letsDoIt{
    background-color: #E9F8F5;

}

.grid4-container {
    display: grid;
    margin-right: 300px;
    grid-template-columns: 50px 50px 50px;
    justify-content: center;
    column-gap: 350px;
  }

  
  .grid4-item{
   
    width: 400px;
    margin-right: 150px;
  }

  .grid4-item p {
   
    text-align: center;
    font-size: 18px;
    margin-left: 40px;
    
  }
  .grid4-container h2 {
    margin-left: 60px;
    white-space: nowrap;
    grid-column-start: 1;
    grid-column-end: 3;
    font-weight: bold;
    margin-bottom: 10px;
  }

.grid4-item button {
    border-radius: 2rem;
    width: 120px;
    height: 30px;
    color: rgb(236, 236, 236);
    background-color: rgb(6, 150, 93); 
    display: flex;
    margin-left: 90px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-weight: 900;
    border: 0;  
}

.grid4-item button:hover{
    background-color: rgb(5, 124, 77) ;
    cursor: pointer;
}








